<h2>Select the classes you would like to add for {{student.name}}:</h2>
<input id="courseSearchInput" type="text" placeholder="Ex: CMSC132">
<table id='allCourses'>
	<tr id='courseTableHeader'>
		<th>Course Name</th>
		<th>Semester/Year</th>
		<th>Professor</th>
		<th>Select</th>
	</tr>
	<tbody id='allCoursesBody'>
		
	</tbody>
</table>
<h3 id="notFound" style="visibility: hidden;">No Results</h3>
<button id='submitCourses'>Submit</button>