<form id="students">
	<a>Name:</a><input name="name" id="name" type="text" placeholder="Ex. John Doe" />
	<br>
	<a>Major:</a>
	<select id='majorSelector'>
	</select>
	<!-- <a>Major:</a><input name="major" id="major" type="text" placeholder="Ex. CS" /> -->
	<br>
	<a>Year:</a>
		<select id='yearSelector'>
			<option value="Freshman">Freshman</option>
			<option value="Sophmore">Sophmore</option>
			<option value="Junior">Junior</option>
			<option value="Senior">Senior</option>
		</select>
	<br>
	<a>Graduated:</a>
	<a>Yes:</a><input id="graduatedYes" type="radio" name="form" value="Yes"/>
	<a> No:</a><input id="graduatedNo" type="radio" name="form" value="No"/>
	<br>
	<button>Create Student and Add Courses</button>
</form>
